src/main/resources/Track.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TRACK">
    <xs:complexType>
      <xs:sequence>
		  <xs:element type="xs:string" name="TRACK_TYPE"/>
		  <xs:element type="xs:string" minOccurs="0" name="TRACK_ID"/>
		  <xs:element type="xs:positiveInteger" name="TRACK_NUMBER"/>
		  <xs:element type="xs:float" name="LONGITUDE"/>
		  <xs:element type="xs:float" name="LATITUDE"/>
		  <xs:element type="xs:float" name="HEADING"/>
		  <xs:element type="xs:float" minOccurs="0" name="ALTITUDE"/>
		  <xs:element type="xs:float" name="VELOCITY_X"/>
		  <xs:element type="xs:float" name="VELOCITY_Y"/>
		  <xs:element type="xs:float" name="VELOCITY"/>
		  <xs:element type="xs:long" name="UPDATE_TIME"/>
		  <xs:element type="xs:int" minOccurs="0" name="URNO"/>
		  <xs:element type="xs:string" minOccurs="0" name="FLID"/>
		  <xs:element type="xs:string" minOccurs="0" name="PREFFERED_CALLSIGN"/>
		  <xs:element type="xs:boolean" name="DROPPED_TRACK"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>